.homePage {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #faf7f6;
}

.homePageNameHeading {
  font-size: calc(3.5rem + 2vmin);
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: lowercase;
  text-decoration: none;
  color: #faf7f6;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: lowercase;
  color: #faf7f6;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .typeContainer {
    min-height: 4rem;
  }

  .homePageNameHeading {
    font-size: calc(2.5rem + 2vmin);
    padding-bottom: 0.5rem;
  }

  .sectionTitle {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
}
